// ABOUT: HEADER

.aboutHeader {
    background-image: url(../assets/about-image-1.jpg);

}

// ABOUT: MAIN-SECTION

.about {
    
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}