// CONTACT: HEADER

.contactHeader {
    background-image: url(../assets/contact-image-1.jpg);
}

// CONTACT: MAIN-SECTION

.contactMainAside {
    flex-basis: 28%;
    margin-right: 2.5%;

    & > * {
        padding: 10% 7%;

        & >:first-of-type {
            a {
                color: $primaryGreen;
                padding-right: 4%;
                font-size: calc(2rem + 0.75vw);
                &:hover,
                &:focus {
                    color: $secondaryGreen;
                }
            }
        }
        
        & >:nth-of-type(2) { 
            padding: 8% 0;

            a {
                color: $black;
                font-family: $secondaryFont;
                font-weight: bold;
                letter-spacing: 0;
                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }
        
        & >:last-child > * {
            margin: 0;
        }
    }
}

// CONTACT FORM

.contactMainForm {
    flex-basis: 72%;

    & > * {
        
        & > * {
            padding: 2rem 3rem;
            border: none;
        }
    }

    .message  {
        margin-top: 2%;
    }
}