
// HOME: HEADER

.homeHeader {
    background: $primaryGreen;
}

.homeTitle {
    @include flex (center, x);

    .homeHeroTitle {

        @include flex (x, center);

        img {
            width: calc(6rem + 3vw);
            position: relative;
            left: 10%;
            bottom: 2%;
        }
        
        h1 {
        align-self: center;
        @include fontStyles (1px, 92px, calc(4rem + 6vw));
        color: $white;
        }

    }
}

.homeTitleImg {
    background: $white;
    position: relative;
    top: 3vw;
    margin-left: 6%;

    img {
        width: calc(10rem + 25vw);
        box-shadow: 1vw 1vw $white;
    }
}

// HOME: MAIN-SECTION

.homeGridMain {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    row-gap: 3vw;

    .grid1 {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .grid6 {
        grid-column: 1 / 3;
        grid-row: 5 / 5;
    }    
}

.homeTextMain {
    background: $whiteShade;
    padding: 4% 0 8%;
    margin-bottom: -5%;
    text-align: center;

    h2 {
        margin-top: 3%;
    }

    p {
        margin: 2% 0;
    }
}

.favouriteThingsImg {
    padding-left: calc(15% + 1vw);
    background: $secondaryGreen;

    img {
        position: relative;
        bottom: 1vw;
        right: 1vw;
    }
}

.favouriteThingsText {
    margin: 10% 15% 0 10%;
    align-self: end;
}

.bucketListText {
    position: relative;
    top: 2vw;
    margin: 0 10% 15% 15%;
    text-align: right;
}

.bucketListImg {
    padding-right: calc(15% - 1vw);
    background: $primaryGreen;
    position: relative;
    margin-top: 10%;
    bottom: 2vw;
    
    img {
        position: relative;
        bottom: 1vw;
        right: 1vw;
    }
}

.homeTextMain:last-of-type {
    margin-top: -8%;
    padding: 5% 0 10%;

    .homeWillowsJourney {
    @include flex (x, center);
    
        img {
            height: 25%;
            width: 25%;
            box-shadow: 1vw 1vw $secondaryGreen;
            }

        .journeyText {
            width: 75%;
            text-align: left;
            padding-left: 10%;
        }
    }
}

// HOME: IMAGE GALLERY

.homeImageGallery {
    margin: 5% auto;
    display: flex;
    justify-content: center;
    
    .galleryContainer {
        display: flex;
        justify-content: space-between;
        padding-right: 2.5%;
        max-width: calc(100%/ 3);
        flex-grow: 1;
        
        &:last-of-type {
            padding-right: 0;
        }

        img {
            transition: all 0.3s ease;
            cursor: pointer;
        }
        
        img:hover {
            box-shadow: 0 1rem 1rem -1rem $primaryGreen, 0 6px 4px 0 $primaryGreen;
            transform: scale(1.05);
        }
    }
}

.homeImageGalleryModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000f6;
}

.modalContent {
    @include flex(center, x);
    flex-direction: column;
    width: 40%;
    max-width: 1366px;
    margin: auto;
    position: relative;

    .galleryContainerSlide {
        display: none;

        p {
            color: $whiteShade;
            text-align: center;
            @include fontStyles (x, 2.5rem, 2rem)
        }

    }
}

.close {
    color: $white;
    position: absolute;
    top: 1.5rem;
    right: 4rem;
    font-size: 6rem;
    font-weight: bold;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $secondaryGreen;
    }
}

.previous,
.next {
    color: $white;
    position: absolute;
    top: calc(50% - 2rem);
    padding: 2rem;
    font-size: 5rem;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $secondaryGreen,
    }
}

.next {
    right: 20%;
}

.previous {
    left: 20%;
}

// HOME: END-SUMMARY

.homeSummary {
    background: $whiteShade;

    ul {
        @include flex (x, center);
        flex-wrap: wrap;
        padding: 5% 0;

        li {
            flex-basis: 50%;

            p {
                padding-left: 10%;
            }
        }
    }
}

.homeSummary h3 {
    padding-top: 2%;

    .fas {
        background: $highlightOrange;
        padding: 1rem;
        width: calc(4rem + 1vw);
        border-radius: 50%;
        margin-right: 2%;
    }

    a {
        color: $black;

        &:hover,
        &:focus {
            color: $highlightOrange;
        }
    }

}




