
// MEDIA QUERIES

@media (max-width: 1000px) {

    // GENERAL

    .aboutHeader h1,
    .blogHeader h1,
    .contactHeader h1 {
        bottom: -1.3rem;
        }

    .wrapper {
        width: 90%;
    }

    p {
        line-height: 3rem;
    }

    button,
    .homeMainAnchor {
        padding: 1rem 2rem;
        margin: 0;
    }

    // HOME 

    .homeTitleImg img {
        width: calc(10rem + 15vw);
    }

    .homeTextMain {
        margin-bottom: -3%;
    }

    .favouriteThingsImg {
        padding-left: 12%;
        align-self: end;
    }

    .favouriteThingsText {
        margin: 10% 10% 0 10%;
        align-self: start;
    }

    .bucketListText {
        position: relative;
        top: 3vw;
        margin: 0 10% 10% 10%;
    }

    .bucketListImg {
        padding-right: 8%;
        position: unset;
        align-self: start;
    }

    .homeTextMain:last-of-type {
        margin-top: 0;
        padding: 2% 0 7%;

        .homeWillowsJourney {
                   
            img {
                height: 35%;
                width: 35%;
            }

            .journeyText {
                width: 65%;
                text-align: left;
                padding-left: 5%;
            }
        }
    }

    .homeSummary ul {
        @include flex (x, center);
        padding: 5% 0;

        li {
            flex-basis: 50%;

            p {
                padding-left: 3%;
            }
        }
    } 
}

@media (max-width: 790px) {

    // GENERAL
    
    header {
        margin: 0;
    }

    .wrapper {
        width: 90%;
    }

    .aboutHeader,
    .blogHeader,
    .contactHeader {
        min-height: 45vh;
    }

    .aboutHeader h1,
    .blogHeader h1,
    .contactHeader h1 {
        bottom: -1.3rem;
        left: 5%;
    }

    button,
    a,
    p,
    .homeMainAnchor {
        font-size: calc(1.25rem + 1vw);
    }

    // NAV 

     .mainNav {
        position: static;
        display: flex;
        background: $secondaryGreen;
        
        
        .hamburgerMenu {
            display: block;
            position: relative;
            width: 6rem;
            height: 6rem;
            top: 2%;
            left: 2%;
            opacity: 0;
            z-index: 1;
            cursor: pointer;
        }
        
        ul {
            display: none;
        }
            
        .toggleLabel {
            display: block;
            position: absolute;
            font-size: 3rem;
            top: 1.5rem;
            left: 2rem;
        }

        .hamburgerMenu:checked ~ ul {
            display: block;
            position: relative;
                
            li {
                padding: 1rem 2rem;
            }

            li:first-of-type {
                padding-top: 2rem;
            }

            li:last-of-type {
                padding-bottom: 2rem;
            }

            .logoContainer {
                position: absolute;
                top: 5.5rem;
                left: calc(6rem + 20vw);
                    
                .logo {
                    font-size: calc(4rem + 4vw);
                }

                img {
                    display: block;
                    position: absolute;
                    width: 20%;
                    top: 3%;
                    left: -1%;
                }
            }
        }
    }

    // HOME

    .homeTitle {
        min-height: 45vh;
        justify-content: center;
    
        .homeHeroTitle {
    
            img {
                display: none;
            }
        
            h1 {
                font-size: calc(5rem + 4vw);
            }
        }

        .homeTitleImg {
            align-self: center;
            top: 0vw;
            margin-left: 3%;
            margin-right: 0;
            background: $primaryGreen;

            img {
                width: calc(10rem + 20vw);
            } 
        }
    }

    .homeGridMain {

        grid-template-columns:100%;
        row-gap: 0;

        .grid1 {
            grid-column: unset;
            grid-row: unset;
        }

        .grid5 {
            grid-row-start: 5;
            grid-row-end: 4;
        }

        .grid6 {
            grid-column: unset;
            grid-row: unset;
        }    
    }

    .homeTextMain {
        margin-bottom: 0;
    }

    .favouriteThingsImg,
    .bucketListImg {
        padding: 0 5%;  
        margin: 0;

        img {
            right: 0;
        }
    }

    .favouriteThingsText,
    .bucketListText {
        margin: 7% 5%;
        text-align: center;
        top: 0;
    }

    .homeTextMain:last-of-type {
        padding: 0 0 2%;

        .homeWillowsJourney {
            display: block;
        
            img {
                margin: 0 auto;
                height: 50%;
                width: 50%;
                box-shadow: 22vw -1vw $secondaryGreen, -22vw -1vw $secondaryGreen;
                }

            .journeyText {
                width: 100%;
                margin: 0 auto;
                text-align: center;
                padding: 5% 0;
            }
        }
    }

    .homeImageGallery img {
        max-height: 300px;
        }

    .homeSummary ul {
        padding: 2% 0;

        li {
            padding: 5% 0;

            h3 {
                padding-top: 0;

                a:hover,
                a:focus {
                    text-decoration: underline;
                }
            }
            
            p {
                display: none;
            }
        }
    }

    // BLOG

    .blogMain {
        flex-direction: column;
        display: grid;
        grid-template-columns: 100%;
    }   

    .gridBlog1 {
        grid-row: 2 / 3;
    }

    .blogMainAside {
    flex-basis: unset;
    margin-right: 0;
    
        & > * {
            margin-bottom: 3%;
            padding: 3%;
        }
    
        .aboutWillow {
            display: flex;
                        
            .aboutWillowImg {
                width: 50%;
            }
        
            .aboutWillowText {
                width: 50%;
                padding: 0 3%;
                align-self: center;
                text-align: center;
        
                p {
                    padding-top: 8%;
                }
            }
        }  
    }

    .recentPosts {
        text-align: center;
        
        ul {
            display: flex;  

            li:first-of-type {
                padding: 0;
            }
        
            li {
                padding:0;
                margin-top: 5rem;
                align-self: baseline;

                a {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .blogMainText {
        flex-basis: unset;
    }
        
    .blogMainArticle h2 {
            text-align: center;
            padding: 3% 0;
        }

    // CONTACT

    .contactMain {
        flex-direction: column;
    }
    
    .contactMainAside {
        flex-basis: unset;
        margin-right: 0%;

        & > * {
            padding: 5% 4%;
            margin: 5% 0;

            & > li {

                text-align: center;

                &:first-of-type {

                    a {
                        padding: 0 4%;
                        font-size: calc(2rem + 5vw);
                    }
                }
                
                &:nth-of-type(2) { 
                    padding: 4% 0;

                    a {
                        font-size: calc(1rem + 2vw);
                    }
                }
            }
        }
    }
}

@media (max-width: 615px) {

    // GENERAL

    .aboutHeader,
    .blogHeader,
    .contactHeader {
        min-height: 50vh;
    }

    .aboutHeader h1,
    .blogHeader h1,
    .contactHeader h1 {
        font-size: calc(4.5rem + 2vw);
        bottom: -1.1rem;
    }

    .blogMainForm > * > *,
    .contactMainForm >* > * {
        padding: 2rem;
    }

    // NAV 

    .mainNav {
        display: block;
        
        .hamburgerMenu:checked ~ ul {

            li:first-of-type {
                padding-top: 1rem;
            }

            .logoContainer {
                top: 2.5rem;
                            
                .logo {
                    font-size: calc(2.5rem + 6vw);
                }
            }
        }
    }

    // HOME

    .homeTitle {
        min-height: 60vh;
        flex-direction: column-reverse;
        align-items: center;
    
        .homeHeroTitle {
            padding-top: 10%;
        }

        .homeTitleImg {
            margin-left: 0;
            background: $primaryGreen;
            padding-top: 2rem;
                
            img {
                width: 25rem;
                box-shadow: 1.5vw 1.5vw $whiteShade;
            }
        }
    }

    .homeImageGallery {
        flex-direction: column;

        .galleryContainer {
            padding: 2.5% 0;

            img {
                max-height: unset;
            }
        }
    }

    .modalContent {
        width: 70%;
    }

    .previous,
    .next {
        color: $white;
        position: absolute;
        top: 75%;
        padding: 2rem;
        font-size: 5rem;
        cursor: pointer;
    }

    .next {
        transform: translateX(-8rem);
    }

    .previous {
        transform: translateX(8rem);
    }

    .homeSummary ul li h3 {

        .fas {
            width: calc(3rem + 1vw);
            padding: 0.5rem;
        }

        a {
            font-size: calc(1rem + 1.75vw);
        }   
    }

    // BLOG
    
    .blogMainAside .aboutWillow {
        flex-direction: column;
        align-items: center;
                    
        .aboutWillowImg {
            width: 70%;
            box-shadow: 5vw 0 $secondaryGreen, -5vw 0 $secondaryGreen;
        }
    
        .aboutWillowText {
            width: 100%;

            h4 {
                padding-top: 6%;
            }
    
            p {
                padding-top: 5%;
            }
        }
    }

    .blogMainComment li {
        flex-direction: column;

        img {
            align-self: center;
            width: 35%;
            padding: 0 0 3% 0;
        }
    }

    .recentPosts {
        text-align: unset;

        h4 {
            text-align: center;
        }
        
        ul {
        flex-direction: column;
    
            li:first-of-type {
                padding: 3% 0 0 15%;
            }
            
            li {
                margin: 2% 0;
                width: 100%; 
                padding-left: 15%;  
                align-self: baseline;
            }
        }
    }
}


