$primaryGreen: #345231;
$secondaryGreen:#709b6b;
$highlightOrange: #e4a436;
$black: #1f1f1f;
$whiteShade: #f6f6f6;
$white: #fff;
$primaryFont:'Abril Fatface', cursive;
$secondaryFont:'Montserrat', sans-serif; 