@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

header {
  margin-top: 3%;
}

body {
  font-family: "Abril Fatface", cursive;
  background: #fff;
  color: #1f1f1f;
  font-size: calc(1rem + 0.75vw);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
  line-height: 29px;
  letter-spacing: 1px;
  font-size: calc(1rem + 0.75vw);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.wrapper {
  margin: 0 auto;
  max-width: 1680px;
  width: 85%;
}

button,
.homeMainAnchor {
  font-family: "Abril Fatface", cursive;
  line-height: 32px;
  letter-spacing: 1px;
  font-size: calc(1rem + 0.75vw);
  background: #e4a436;
  color: #1f1f1f;
  border: none;
  margin-top: 1vw;
  padding: 1.5rem 2.5rem;
  display: inline-block;
  -webkit-transition: color, background-color 0.3s ease;
  transition: color, background-color 0.3s ease;
}

button:hover, button:focus,
.homeMainAnchor:hover,
.homeMainAnchor:focus {
  cursor: pointer;
  background: #1f1f1f;
  color: #e4a436;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h2 {
  line-height: x;
  letter-spacing: 1;
  font-size: calc(2.5rem + 1vw);
}

h3,
.homeSummary a {
  line-height: x;
  letter-spacing: 1;
  font-size: calc(2rem + 0.75vw);
}

h4 {
  line-height: x;
  letter-spacing: 1;
  font-size: calc(2rem + 0.5vw);
}

h1,
h2,
h3,
h4,
button,
a.homeMainAnchor,
.logo,
.mainNav a {
  text-transform: uppercase;
}

p {
  line-height: 4rem;
  letter-spacing: 0;
  font-size: calc(1rem + 0.75vw);
}

.mainNav a,
p {
  font-family: "Montserrat", sans-serif;
}

::-webkit-input-placeholder {
  opacity: 1;
  font-family: "Montserrat", sans-serif;
}

:-ms-input-placeholder {
  opacity: 1;
  font-family: "Montserrat", sans-serif;
}

::-ms-input-placeholder {
  opacity: 1;
  font-family: "Montserrat", sans-serif;
}

::placeholder {
  opacity: 1;
  font-family: "Montserrat", sans-serif;
}

.mainNav {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background: #345231;
  color: #f6f6f6;
}

.mainNav .hamburgerMenu,
.mainNav .toggleLabel {
  display: none;
}

.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainNav ul li {
  padding: 1.5rem 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mainNav ul .logo {
  font-size: calc(2.25rem + 1vw);
}

.mainNav ul img {
  display: none;
}

.mainNav a {
  color: #f6f6f6;
  font-weight: bold;
}

.mainNav a:hover, .mainNav a:focus {
  color: #e4a436;
}

.aboutHeader,
.blogHeader,
.contactHeader {
  height: 50vh;
  background-size: cover;
  position: relative;
}

.aboutHeader h1,
.blogHeader h1,
.contactHeader h1 {
  position: absolute;
  bottom: -1.7rem;
  left: 7%;
  color: #f6f6f6;
  line-height: x;
  letter-spacing: 1;
  font-size: calc(5rem + 2vw);
}

.blog,
.contact,
.about {
  background: #f6f6f6;
}

.blogMain,
.contactMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0;
}

.blogMainText > *,
.blogMainAside > *,
.contactMainAside > *,
.contactMainForm > * {
  background: #fff;
}

.blogMainForm,
.contactMainForm {
  background: #f6f6f6;
}

.blogMainForm .nameEmail,
.contactMainForm .nameEmail {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: x;
      -ms-flex-align: x;
          align-items: x;
}

.blogMainForm .nameEmail input[type=text],
.blogMainForm .nameEmail input[type=email],
.contactMainForm .nameEmail input[type=text],
.contactMainForm .nameEmail input[type=email] {
  width: 49%;
}

.blogMainForm .comment,
.blogMainForm .message,
.contactMainForm .comment,
.contactMainForm .message {
  margin-bottom: 0;
  background: #fff;
}

.blogMainForm .comment textarea,
.blogMainForm .message textarea,
.contactMainForm .comment textarea,
.contactMainForm .message textarea {
  resize: none;
  width: 100%;
}

.blogMainForm button,
.contactMainForm button {
  width: 100%;
  background: #e4a436;
}

.blogMainForm button:hover, .blogMainForm button:focus,
.contactMainForm button:hover,
.contactMainForm button:focus {
  background: #1f1f1f;
}

footer {
  background: #1f1f1f;
  color: #f6f6f6;
  text-align: center;
}

footer p {
  margin: 0;
}

.homeHeader {
  background: #345231;
}

.homeTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: x;
      -ms-flex-align: x;
          align-items: x;
}

.homeTitle .homeHeroTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: x;
      -ms-flex-pack: x;
          justify-content: x;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeTitle .homeHeroTitle img {
  width: calc(6rem + 3vw);
  position: relative;
  left: 10%;
  bottom: 2%;
}

.homeTitle .homeHeroTitle h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 92px;
  letter-spacing: 1px;
  font-size: calc(4rem + 6vw);
  color: #fff;
}

.homeTitleImg {
  background: #fff;
  position: relative;
  top: 3vw;
  margin-left: 6%;
}

.homeTitleImg img {
  width: calc(10rem + 25vw);
  -webkit-box-shadow: 1vw 1vw #fff;
          box-shadow: 1vw 1vw #fff;
}

.homeGridMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 3vw;
}

.homeGridMain .grid1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.homeGridMain .grid6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 5;
  grid-row: 5 / 5;
}

.homeTextMain {
  background: #f6f6f6;
  padding: 4% 0 8%;
  margin-bottom: -5%;
  text-align: center;
}

.homeTextMain h2 {
  margin-top: 3%;
}

.homeTextMain p {
  margin: 2% 0;
}

.favouriteThingsImg {
  padding-left: calc(15% + 1vw);
  background: #709b6b;
}

.favouriteThingsImg img {
  position: relative;
  bottom: 1vw;
  right: 1vw;
}

.favouriteThingsText {
  margin: 10% 15% 0 10%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.bucketListText {
  position: relative;
  top: 2vw;
  margin: 0 10% 15% 15%;
  text-align: right;
}

.bucketListImg {
  padding-right: calc(15% - 1vw);
  background: #345231;
  position: relative;
  margin-top: 10%;
  bottom: 2vw;
}

.bucketListImg img {
  position: relative;
  bottom: 1vw;
  right: 1vw;
}

.homeTextMain:last-of-type {
  margin-top: -8%;
  padding: 5% 0 10%;
}

.homeTextMain:last-of-type .homeWillowsJourney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: x;
      -ms-flex-pack: x;
          justify-content: x;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeTextMain:last-of-type .homeWillowsJourney img {
  height: 25%;
  width: 25%;
  -webkit-box-shadow: 1vw 1vw #709b6b;
          box-shadow: 1vw 1vw #709b6b;
}

.homeTextMain:last-of-type .homeWillowsJourney .journeyText {
  width: 75%;
  text-align: left;
  padding-left: 10%;
}

.homeImageGallery {
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homeImageGallery .galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 2.5%;
  max-width: calc(100%/ 3);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.homeImageGallery .galleryContainer:last-of-type {
  padding-right: 0;
}

.homeImageGallery .galleryContainer img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.homeImageGallery .galleryContainer img:hover {
  -webkit-box-shadow: 0 1rem 1rem -1rem #345231, 0 6px 4px 0 #345231;
          box-shadow: 0 1rem 1rem -1rem #345231, 0 6px 4px 0 #345231;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.homeImageGalleryModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000f6;
}

.modalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: x;
      -ms-flex-align: x;
          align-items: x;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  max-width: 1366px;
  margin: auto;
  position: relative;
}

.modalContent .galleryContainerSlide {
  display: none;
}

.modalContent .galleryContainerSlide p {
  color: #f6f6f6;
  text-align: center;
  line-height: 2.5rem;
  letter-spacing: x;
  font-size: 2rem;
}

.close {
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 4rem;
  font-size: 6rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: #709b6b;
}

.previous,
.next {
  color: #fff;
  position: absolute;
  top: calc(50% - 2rem);
  padding: 2rem;
  font-size: 5rem;
  cursor: pointer;
}

.previous:hover, .previous:focus,
.next:hover,
.next:focus {
  color: #709b6b;
}

.next {
  right: 20%;
}

.previous {
  left: 20%;
}

.homeSummary {
  background: #f6f6f6;
}

.homeSummary ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: x;
      -ms-flex-pack: x;
          justify-content: x;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5% 0;
}

.homeSummary ul li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.homeSummary ul li p {
  padding-left: 10%;
}

.homeSummary h3 {
  padding-top: 2%;
}

.homeSummary h3 .fas {
  background: #e4a436;
  padding: 1rem;
  width: calc(4rem + 1vw);
  border-radius: 50%;
  margin-right: 2%;
}

.homeSummary h3 a {
  color: #1f1f1f;
}

.homeSummary h3 a:hover, .homeSummary h3 a:focus {
  color: #e4a436;
}

.aboutHeader {
  background-image: url(../assets/about-image-1.jpg);
}

.about footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.blogHeader {
  background-image: url(../assets/blog-image-1.jpg);
}

.blogMainAside {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-right: 2.5%;
}

.blogMainAside > * {
  margin-bottom: 7%;
  padding: 10%;
}

.blogMainAside .aboutWillow .aboutWillowImg {
  width: 100%;
}

.blogMainAside .aboutWillow .aboutWillowText {
  padding-top: 7%;
}

.blogMainAside .aboutWillow .aboutWillowText p {
  margin: 0;
  padding-top: 5%;
}

.aboutWillowText a {
  display: inline-block;
  color: #709b6b;
  font-weight: bold;
  letter-spacing: 0;
}

.aboutWillowText a:hover, .aboutWillowText a:focus {
  color: #345231;
  text-decoration: underline;
}

.recentPosts ul li {
  padding: 1% 0 1% 3%;
}

.recentPosts ul li:first-of-type {
  padding-top: 9%;
}

.recentPosts ul li a {
  margin: 1%;
  color: #1f1f1f;
  font-family: "Montserrat", sans-serif;
}

.recentPosts ul li a:hover, .recentPosts ul li a:focus {
  color: #e4a436;
}

.recentPosts ul li a::before {
  content: "•";
  padding-right: 7%;
}

.blogMainText {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.blogMainText .blogMainArticle {
  padding: 4%;
  border-bottom: 1rem #709b6b solid;
  margin-bottom: 3%;
}

.blogMainComment {
  margin-bottom: 3%;
  background-color: #f6f6f6;
}

.blogMainComment li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  margin-bottom: 2%;
  padding: 3%;
}

.blogMainComment li p {
  margin: 0;
}

.blogMainComment li img {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  width: 250px;
  height: 120px;
  padding-right: 2%;
}

.blogMainComment li:last-of-type {
  border-bottom: 1rem #709b6b solid;
  margin-bottom: 0;
}

.blogMainForm > * {
  margin: 3% auto;
}

.blogMainForm > * > * {
  padding: 2rem 3rem;
  border: none;
}

.contactHeader {
  background-image: url(../assets/contact-image-1.jpg);
}

.contactMainAside {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  margin-right: 2.5%;
}

.contactMainAside > * {
  padding: 10% 7%;
}

.contactMainAside > * > :first-of-type a {
  color: #345231;
  padding-right: 4%;
  font-size: calc(2rem + 0.75vw);
}

.contactMainAside > * > :first-of-type a:hover, .contactMainAside > * > :first-of-type a:focus {
  color: #709b6b;
}

.contactMainAside > * > :nth-of-type(2) {
  padding: 8% 0;
}

.contactMainAside > * > :nth-of-type(2) a {
  color: #1f1f1f;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
}

.contactMainAside > * > :nth-of-type(2) a:hover, .contactMainAside > * > :nth-of-type(2) a:focus {
  text-decoration: underline;
}

.contactMainAside > * > :last-child > * {
  margin: 0;
}

.contactMainForm {
  -ms-flex-preferred-size: 72%;
      flex-basis: 72%;
}

.contactMainForm > * > * {
  padding: 2rem 3rem;
  border: none;
}

.contactMainForm .message {
  margin-top: 2%;
}

@media (max-width: 1000px) {
  .aboutHeader h1,
  .blogHeader h1,
  .contactHeader h1 {
    bottom: -1.3rem;
  }
  .wrapper {
    width: 90%;
  }
  p {
    line-height: 3rem;
  }
  button,
  .homeMainAnchor {
    padding: 1rem 2rem;
    margin: 0;
  }
  .homeTitleImg img {
    width: calc(10rem + 15vw);
  }
  .homeTextMain {
    margin-bottom: -3%;
  }
  .favouriteThingsImg {
    padding-left: 12%;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .favouriteThingsText {
    margin: 10% 10% 0 10%;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .bucketListText {
    position: relative;
    top: 3vw;
    margin: 0 10% 10% 10%;
  }
  .bucketListImg {
    padding-right: 8%;
    position: unset;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .homeTextMain:last-of-type {
    margin-top: 0;
    padding: 2% 0 7%;
  }
  .homeTextMain:last-of-type .homeWillowsJourney img {
    height: 35%;
    width: 35%;
  }
  .homeTextMain:last-of-type .homeWillowsJourney .journeyText {
    width: 65%;
    text-align: left;
    padding-left: 5%;
  }
  .homeSummary ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: x;
        -ms-flex-pack: x;
            justify-content: x;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5% 0;
  }
  .homeSummary ul li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .homeSummary ul li p {
    padding-left: 3%;
  }
}

@media (max-width: 790px) {
  header {
    margin: 0;
  }
  .wrapper {
    width: 90%;
  }
  .aboutHeader,
  .blogHeader,
  .contactHeader {
    min-height: 45vh;
  }
  .aboutHeader h1,
  .blogHeader h1,
  .contactHeader h1 {
    bottom: -1.3rem;
    left: 5%;
  }
  button,
  a,
  p,
  .homeMainAnchor {
    font-size: calc(1.25rem + 1vw);
  }
  .mainNav {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #709b6b;
  }
  .mainNav .hamburgerMenu {
    display: block;
    position: relative;
    width: 6rem;
    height: 6rem;
    top: 2%;
    left: 2%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }
  .mainNav ul {
    display: none;
  }
  .mainNav .toggleLabel {
    display: block;
    position: absolute;
    font-size: 3rem;
    top: 1.5rem;
    left: 2rem;
  }
  .mainNav .hamburgerMenu:checked ~ ul {
    display: block;
    position: relative;
  }
  .mainNav .hamburgerMenu:checked ~ ul li {
    padding: 1rem 2rem;
  }
  .mainNav .hamburgerMenu:checked ~ ul li:first-of-type {
    padding-top: 2rem;
  }
  .mainNav .hamburgerMenu:checked ~ ul li:last-of-type {
    padding-bottom: 2rem;
  }
  .mainNav .hamburgerMenu:checked ~ ul .logoContainer {
    position: absolute;
    top: 5.5rem;
    left: calc(6rem + 20vw);
  }
  .mainNav .hamburgerMenu:checked ~ ul .logoContainer .logo {
    font-size: calc(4rem + 4vw);
  }
  .mainNav .hamburgerMenu:checked ~ ul .logoContainer img {
    display: block;
    position: absolute;
    width: 20%;
    top: 3%;
    left: -1%;
  }
  .homeTitle {
    min-height: 45vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homeTitle .homeHeroTitle img {
    display: none;
  }
  .homeTitle .homeHeroTitle h1 {
    font-size: calc(5rem + 4vw);
  }
  .homeTitle .homeTitleImg {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    top: 0vw;
    margin-left: 3%;
    margin-right: 0;
    background: #345231;
  }
  .homeTitle .homeTitleImg img {
    width: calc(10rem + 20vw);
  }
  .homeGridMain {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    row-gap: 0;
  }
  .homeGridMain .grid1 {
    grid-column: unset;
    grid-row: unset;
  }
  .homeGridMain .grid5 {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 4;
  }
  .homeGridMain .grid6 {
    grid-column: unset;
    grid-row: unset;
  }
  .homeTextMain {
    margin-bottom: 0;
  }
  .favouriteThingsImg,
  .bucketListImg {
    padding: 0 5%;
    margin: 0;
  }
  .favouriteThingsImg img,
  .bucketListImg img {
    right: 0;
  }
  .favouriteThingsText,
  .bucketListText {
    margin: 7% 5%;
    text-align: center;
    top: 0;
  }
  .homeTextMain:last-of-type {
    padding: 0 0 2%;
  }
  .homeTextMain:last-of-type .homeWillowsJourney {
    display: block;
  }
  .homeTextMain:last-of-type .homeWillowsJourney img {
    margin: 0 auto;
    height: 50%;
    width: 50%;
    -webkit-box-shadow: 22vw -1vw #709b6b, -22vw -1vw #709b6b;
            box-shadow: 22vw -1vw #709b6b, -22vw -1vw #709b6b;
  }
  .homeTextMain:last-of-type .homeWillowsJourney .journeyText {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 5% 0;
  }
  .homeImageGallery img {
    max-height: 300px;
  }
  .homeSummary ul {
    padding: 2% 0;
  }
  .homeSummary ul li {
    padding: 5% 0;
  }
  .homeSummary ul li h3 {
    padding-top: 0;
  }
  .homeSummary ul li h3 a:hover,
  .homeSummary ul li h3 a:focus {
    text-decoration: underline;
  }
  .homeSummary ul li p {
    display: none;
  }
  .blogMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .gridBlog1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .blogMainAside {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    margin-right: 0;
  }
  .blogMainAside > * {
    margin-bottom: 3%;
    padding: 3%;
  }
  .blogMainAside .aboutWillow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blogMainAside .aboutWillow .aboutWillowImg {
    width: 50%;
  }
  .blogMainAside .aboutWillow .aboutWillowText {
    width: 50%;
    padding: 0 3%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  .blogMainAside .aboutWillow .aboutWillowText p {
    padding-top: 8%;
  }
  .recentPosts {
    text-align: center;
  }
  .recentPosts ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .recentPosts ul li:first-of-type {
    padding: 0;
  }
  .recentPosts ul li {
    padding: 0;
    margin-top: 5rem;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .recentPosts ul li a {
    margin: 0;
    padding: 0;
  }
  .blogMainText {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
  }
  .blogMainArticle h2 {
    text-align: center;
    padding: 3% 0;
  }
  .contactMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactMainAside {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    margin-right: 0%;
  }
  .contactMainAside > * {
    padding: 5% 4%;
    margin: 5% 0;
  }
  .contactMainAside > * > li {
    text-align: center;
  }
  .contactMainAside > * > li:first-of-type a {
    padding: 0 4%;
    font-size: calc(2rem + 5vw);
  }
  .contactMainAside > * > li:nth-of-type(2) {
    padding: 4% 0;
  }
  .contactMainAside > * > li:nth-of-type(2) a {
    font-size: calc(1rem + 2vw);
  }
}

@media (max-width: 615px) {
  .aboutHeader,
  .blogHeader,
  .contactHeader {
    min-height: 50vh;
  }
  .aboutHeader h1,
  .blogHeader h1,
  .contactHeader h1 {
    font-size: calc(4.5rem + 2vw);
    bottom: -1.1rem;
  }
  .blogMainForm > * > *,
  .contactMainForm > * > * {
    padding: 2rem;
  }
  .mainNav {
    display: block;
  }
  .mainNav .hamburgerMenu:checked ~ ul li:first-of-type {
    padding-top: 1rem;
  }
  .mainNav .hamburgerMenu:checked ~ ul .logoContainer {
    top: 2.5rem;
  }
  .mainNav .hamburgerMenu:checked ~ ul .logoContainer .logo {
    font-size: calc(2.5rem + 6vw);
  }
  .homeTitle {
    min-height: 60vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homeTitle .homeHeroTitle {
    padding-top: 10%;
  }
  .homeTitle .homeTitleImg {
    margin-left: 0;
    background: #345231;
    padding-top: 2rem;
  }
  .homeTitle .homeTitleImg img {
    width: 25rem;
    -webkit-box-shadow: 1.5vw 1.5vw #f6f6f6;
            box-shadow: 1.5vw 1.5vw #f6f6f6;
  }
  .homeImageGallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homeImageGallery img {
    max-height: unset;
    padding: 0 0 5%;
    max-width: 100%;
  }
  .homeImageGallery img:last-of-type {
    padding: 0;
  }
  .homeSummary ul li h3 .fas {
    width: calc(3rem + 1vw);
    padding: 0.5rem;
  }
  .homeSummary ul li h3 a {
    font-size: calc(1rem + 1.75vw);
  }
  .blogMainAside .aboutWillow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogMainAside .aboutWillow .aboutWillowImg {
    width: 70%;
    -webkit-box-shadow: 5vw 0 #709b6b, -5vw 0 #709b6b;
            box-shadow: 5vw 0 #709b6b, -5vw 0 #709b6b;
  }
  .blogMainAside .aboutWillow .aboutWillowText {
    width: 100%;
  }
  .blogMainAside .aboutWillow .aboutWillowText h4 {
    padding-top: 6%;
  }
  .blogMainAside .aboutWillow .aboutWillowText p {
    padding-top: 5%;
  }
  .blogMainComment li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogMainComment li img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 35%;
    padding: 0 0 3% 0;
  }
  .recentPosts {
    text-align: unset;
  }
  .recentPosts h4 {
    text-align: center;
  }
  .recentPosts ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recentPosts ul li:first-of-type {
    padding: 3% 0 0 15%;
  }
  .recentPosts ul li {
    margin: 2% 0;
    width: 100%;
    padding-left: 15%;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
}
